/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    font-family: "Pixelify Sans", serif; /* Set Epilogue as the default font */

}

a{
    text-decoration: none;
}

/* Add this to your global CSS file (e.g., styles.css) */
:root {
    --text: #06130d;
    --background: #f1faf6;
    --primary: #4e6a24;
    --secondary: #89d7d4;
    --accent: #3877a3;
  }
  
  .dark {
    --text: #eaf4dc;
    --background: #151f0a;
    --primary: #bfdb95;
    --secondary: #287673;
    --accent: #5c9ac7;
  }

  :root, .dark, body {
    transition: background-color 0.5s ease-in-out, color 0.5s ease;
  }
  